
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLocationUpdateLabel" translate="flotteApp.locationUpdate.home.createOrEditLabel">Create or edit a LocationUpdate</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.locationUpdate.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="flotteApp.locationUpdate.source" for="field_source">Source</label>
            <input type="text" class="form-control" name="source" id="field_source"
                    ng-model="vm.locationUpdate.source"
                    required />
            <div ng-show="editForm.source.$invalid">
                <p class="help-block"
                    ng-show="editForm.source.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="flotteApp.locationUpdate.time" for="field_time">Time</label>
                <div class="input-group">
                    <input id="field_time" type="text" class="form-control" name="time" datetime-picker="{{dateformat}}" ng-model="vm.locationUpdate.time" is-open="vm.datePickerOpenStatus.time"
                    required  />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('time')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.time.$invalid">
                <p class="help-block"
                    ng-show="editForm.time.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.time.$error.ZonedDateTimelocal" translate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="flotteApp.locationUpdate.longitude" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                    ng-model="vm.locationUpdate.longitude"
                    required />
            <div ng-show="editForm.longitude.$invalid">
                <p class="help-block"
                    ng-show="editForm.longitude.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.longitude.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="flotteApp.locationUpdate.lattitude" for="field_lattitude">Lattitude</label>
            <input type="number" class="form-control" name="lattitude" id="field_lattitude"
                    ng-model="vm.locationUpdate.lattitude"
                    required />
            <div ng-show="editForm.lattitude.$invalid">
                <p class="help-block"
                    ng-show="editForm.lattitude.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.lattitude.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="flotteApp.locationUpdate.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="vm.locationUpdate.comment"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
